.title {
    text-align: center;
    color: white;
    font-size: 60px;
    transition: 0.5s;
    margin-top: -5px;
    padding-bottom: 5px;
    margin-left: 425px;
    margin-right: 425px;
    margin-bottom: 5px;
    border-radius: 15px;
}

.title:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.header-container {
    text-align: center;
    background-color: #fc6c58;
}
